.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 40px 0;
}

.cart-container {
  padding: 20px;
  color: black;
  background-color: lightgray;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para el contenido dentro del carrito */
.cart-content {
  width: 100%;
  text-align: center;
}

/* Estilo de la lista de juegos en el carrito */
.cart-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.cart-list li {
  margin: 10px 0;
  font-size: 18px;
}

/* Sección de pago */
.cart-payment-section {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.cart-payment-section h2 {
  margin-bottom: 20px;
}

.cart-payment-section label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
  max-width: 400px;
  margin-inline: auto;
}

.cart-payment-section input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Mensaje de éxito del pago */
.cart-payment-success {
  margin-top: 30px;
  padding: 20px;
  background-color: #004d00;
  color: white;
  border-radius: 5px;
}

/* Estilo para el botón de pago */
.cart-pay-button {
  padding: 12px 18px;
  background-color: #ff6600;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.cart-pay-button:hover {
  background-color: #e65c00;
}

.cart-pay-button:focus {
  outline: none;
}

/* Estilo para el botón de volver a la biblioteca */
.cart-back-button {
  padding: 12px 18px;
  background-color: #004d00;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.cart-back-button:hover {
  background-color: #003300;
}

.cart-back-button:focus {
  outline: none;
}
