/* Contenedor general de la página */
.gamepage-container {
  color: white;
}

/* Encabezado del juego */
.gamepage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1%;
  height: 150px;
}

.gamepage-title {
  font-size: 2rem;
  font-weight: bold;
}

.gamepage-action-buttons {
  display: flex;
  gap: 10px;
}

/* Botones grises */
.btn-gray {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-gray:hover {
  background-color: #444;
}

.gamepage-main-content {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.gamepage-left-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.gamepage-right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
  padding-left: 20px;
}

.gamepage-main-image {
  width: 100%;
  border-radius: 8px;
}

.gamepage-thumbnails-section {
  margin-top: 10px;
  width: 100%;
}

.gamepage-thumbnail-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.gamepage-thumbnail {
  width: 80px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.6;
}

.gamepage-thumbnail.active {
  opacity: 1;
  border: 2px solid white;
}

.gamepage-thumbnail:hover {
  transform: scale(1.1);
}

/* Botón de carrito */
.gamepage-cart-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.btn-cart {
  background-color: #10b981;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-cart:hover {
  background-color: #059669;
}

/* Info de la edición del juego */
.gamepage-edition-info {
  margin-top: 20px;
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

.gamepage-edition-info p strong {
  color: #800000;
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
}

/* Imagen lateral */
.gamepage-side-image {
  width: 90%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* Info adicional del juego */
.gamepage-info-panel {
  font-family: monospace;
  font-size: 17px;
  margin-top: 10px;
  background-color: #444;
  padding: 10px;
  border-radius: 8px;
  width: 83%;
  max-height: 300px; /* Default height for smaller screens */
  overflow-y: auto; /* Allows scrolling if content exceeds the max-height */
}
/* Loading and Error Message Centering */
.loading-message, .error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #fff;
}
/* For larger screens (like PCs or laptops) */

@media (min-width: 1024px) {
  .gamepage-info-panel {
    max-width: 280px; /* Smaller max-height on larger screens */
  }
}