/* Estilos para botones de acción en GameHeader */
.gamepage-action-buttons {
  display: flex;
  gap: 10px;
}

/* Botón de volver */
.btn-back {
  background-color: #b63d3d;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-back:hover {
  background-color: #b64848;
  
}

/* Botón de añadir al carrito */
.btn-cart {
  background-color: #10b981;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-cart:hover {
  background-color: #059669;
}
