/* Contenedor principal */
.library-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #600000;
}

/* Contenido principal */
.library-main-content {
  display: flex;
  flex-grow: 1;
  margin-left: 250px;
  padding-top: 75px;
}

/* Sidebar */
.library-sidebar {
  width: 250px;
  height: calc(100vh - 60px);
  background-color: dimgrey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  left: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

.library-sidebar-title {
  color: white;
  margin-bottom: 10px;
}

.library-game-list {
  list-style: none;
  padding: 0;
}

.library-game-link {
  padding: 10px;
  cursor: pointer;
  color: white;
  transition: background 0.3s;
}

.library-game-link:hover {
  background-color: #444;
}

/* Contenido de la galería */
.library-content {
  padding: 20px;
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.library-title {
  margin-bottom: 20px;
}

.library-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

/* Cada juego */
.library-game-item {
  width: 200px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Imagen del juego con tamaño fijo */
.library-game-cover {
  width: 100%;
  height: 250px; /* Altura fija para uniformidad */
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

/* Botón */
.library-button-container {
  margin-top: 10px;
}

.library-add-button {
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.library-add-button:hover {
  background-color: #ddd;
}

/* Responsive */
@media (max-width: 768px) {
  .library-main-content {
    flex-direction: column;
    margin-left: 0;
  }

  .library-sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  .library-content {
    margin-left: 0;
    padding: 10px;
  }

  .library-game-item {
    width: 90%;
    max-width: 300px;
    height: auto;
  }

  .library-game-cover {
    height: 200px;
  }
}
