.library-layout {
    display: flex;
  }
  
  .library-sidebar {
    width: 250px;
    background-color: dimgrey;
    padding: 20px;
    color: white;
  }
  
  .library-content {
    flex: 1;
    padding: 20px;
  }
  