/* LoginPage.css */

/* Estilos específicos para el componente de Login */

/* Contenedor principal de la página de login */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que ocupe toda la altura disponible */
}

/* Estilo para el contenedor del formulario de login */
.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Estilo del título del formulario */
.login-title {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}

/* Clases personalizadas para los contenedores de los campos del formulario */
.login-input-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-input-container label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.login-input-container input {
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.login-input-container input:focus {
    border-color: #007bff;
}

/* Estilo para el botón de login */
.login-btn {
    padding: 12px;
    width: 100%;
    background-color: #800000; /* Rojo oscuro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #600000; /* Tonalidad más oscura al pasar el mouse */
}

/* Estilo para el botón de registro */
.register-btn {
    padding: 12px;
    width: 100%;
    background-color: #dcffb5; /* Verde claro */
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.register-btn:hover {
    background-color: #b9f07c; /* Tonalidad más oscura al pasar el mouse */
}

/* Estilo para los mensajes de error */
.error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

@media (max-width: 480px) {
    .login-container {
        padding: 20px;
        width: 90%;
    }

    .login-title {
        font-size: 1.6rem;
    }

    .login-input-container input, .login-btn, .register-btn {
        font-size: 1rem;
    }
}
