/* Estilo para el carrito y contenido principal */
.container {
  padding: 20px;
  color: white;
  background-color: #600000; /* Fondo granate */
  font-family: Arial, sans-serif;
}

/* Ajustar el contenido general para que no se solape con el header */
.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto; /* Centra el contenedor */
  margin-top: 150px; /* Aumenta este margen si es necesario */
}

/* Estilos para la sección de pago */
.payment-section {
  margin-top: 50px; /* Añade más espacio entre el contenido y la sección de pago */
}

.payment-section h2 {
  color: white;
}

.payment-section label {
  color: white;
  margin-bottom: 8px; /* Agrega un poco de espacio debajo de cada label */
}

.payment-section input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 15px; /* Separación entre campos */
}

/* Ajustes adicionales para los botones y formularios */
button {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #ff6600;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #e65c00;
}
