/* Contenedor principal */
.change-email-container {
    max-width: 800px;
    margin-top: 60px; /* Espaciado desde el top */
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Sección GENERAL */
  .change-email-section {
    background-color: rgba(105, 105, 105, 0.8); /* dimgrey con opacidad */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .change-email-title {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
  }
  
  /* Formulario */
  .change-email-form {
    display: flex;
    flex-direction: column;
  }
  
  .change-contact-label {
    color: white;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
  }
  
  .change-email-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Input de email - focus */
  .change-email-input:focus {
    outline: none;
    background-color: #444;
    border-color: #28a745; /* Verde cuando está enfocado */
  }
  
  /* Botón */
  .change-email-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .change-email-button {
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .change-email-button:hover {
    background-color: #218838; /* Verde más oscuro */
  }
  