/* Contenedor principal */
.edit-profile-container {
  max-width: 800px;
  margin-top: 60px; /* Espaciado desde el top */
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Secciones */
.edit-profile-section h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

/* General */
.general {
  background-color: rgba(105, 105, 105, 0.8); /* dimgrey con opacidad */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.general label {
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.general input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Location */
.location {
  background-color: rgba(105, 105, 105, 0.8); /* dimgrey con opacidad */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.location label {
  color: white;
  font-size: 14px;
}

.location select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Preferences */
.preferences {
  background-color: rgba(105, 105, 105, 0.8); /* dimgrey con opacidad */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row; /* Mantener fila para los elementos principales */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.preferences p {
  color: white;
}

.preference-container {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Un poco de margen a la izquierda si es necesario */
}

/* Switch - Interrupción de preferencias */
.preference-switch {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.preference-switch.on {
  background-color: #4caf50; /* Color verde cuando está encendido */
}

.preference-switch.off {
  background-color: #ccc; /* Gris cuando está apagado */
}

.preference-switch .slider {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.preference-switch.on .slider {
  transform: translateX(30px);
}

.preference-switch.off .slider {
  transform: translateX(0);
}

/* Botón de Confirmación */
.confirm-button {
  display: block;
  width: 100%;
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s;
}

.confirm-button:hover {
  background-color: #218838;
}
