/* Estilos generales */
.container {
    padding: 20px;
    color: white;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    background-color: #600000; /* Fondo granate más oscuro */

}

/* Header del juego */
.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 15px;
    border-radius: 5px;
}

.game-features {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.game-features li {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;
}

.game-features li strong {
    color: #800000; /* Color dorado tipo Steam */
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.gray-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.gray-btn:hover {
    background-color: #444;
}

/* Contenedor principal */
.game-content {
    display: flex;
    margin-top: 20px;
}

/* Sección izquierda (imagen principal + miniaturas) */
.game-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-image {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}

.thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail {
    width: 80px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0.6;
}

.thumbnail.active {
    opacity: 1;
    border: 2px solid white;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.requirements {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.requirement-box {
    flex: 1;
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    color: white;
}



/* Sección derecha */
.game-right {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side-image {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}

.description {
    margin-top: 15px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.game-info {
    margin-top: 10px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
